<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>some key</string>
	<key>appSecret</key>
	<string>some secret</string>
	<key>accessKey</key>
	<string>some key</string>
</dict>
</plist>
